@font-face {
    font-family: 'AvertaDemoRegular';
    src: url(fonts/AvertaDemoPE-Regular.ttf);
}

@font-face {
    font-family: 'AvertaDemoBoldIt';
    src: url(fonts/AvertaDemoPE-ExtraboldItalic.ttf);
}

/* .test-font {
    font-family: 'AvertaDemoBoldIt';
    font-size: 32px;
    color: red;
} */

body {
    background-color: #fff;
    margin: 0px;
    padding: 0px;
}

.menu-container {
    position: relative;
    height: 100px;
    width: 100%;
    background-color: #fff;
    border-top:5px solid #CB10A6;
}

.voluum-logo-img {
    display: inline-block;
    position: relative;
    padding: 23px;
}

.product-btn {
    display: inline-block;
    position: relative;
    bottom: 35px;
    left: 30px;
    width: 150px;
    height: 80px;
    font-family: 'AvertaDemoRegular';
    font-size: 28px;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    overflow: visible;
    background: none;
    border: none;
}

.pricing-btn {
    display: inline-block;
    position: relative;
    left: 30px;
    bottom: 35px;
    width: 150px;
    height: 80px;
    font-family: 'AvertaDemoRegular';
    font-size: 28px;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    overflow: visible;
    background: none;
    border: none;
}

.integrations-btn {
    display: inline-block;
    position: relative;
    left: 30px;
    bottom: 35px;
    width: 170px;
    height: 80px;
    font-family: 'AvertaDemoRegular';
    font-size: 28px;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    overflow: visible;
    background: none;
    border: none;
}

.resources-btn {
    display: inline-block;
    position: relative;
    left: 30px;
    bottom: 35px;
    width: 150px;
    height: 80px;
    font-family: 'AvertaDemoRegular';
    font-size: 28px;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    overflow: visible;
    background: none;
    border: none;
}

.company-btn {
    display: inline-block;
    position: relative;
    left: 30px;
    bottom: 35px;
    width: 150px;
    height: 80px;
    font-family: 'AvertaDemoRegular';
    font-size: 28px;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    overflow: visible;
    background: none;
    border: none;
}

.view-demo-btn {
    display: inline-block;
    position: relative;
    bottom: 35px;
    left: 220px;
    font-family: 'AvertaDemoRegular';
    font-size: 28px;
    color: #CB10A6;
    width: 200px;
    height: 60px;
    border-radius: 40px;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    overflow: visible;
    background: none;
    border: 3px #CB10A6 solid;
}

.get-started-btn {
    display: inline-block;
    position: relative;
    bottom: 35px;
    left: 230px;
    font-family: 'AvertaDemoRegular';
    font-size: 28px;
    color: #fff;
    width: 220px;
    height: 60px;
    border-radius: 40px;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    overflow: visible;
    background: #CB10A6;
    border: none;
}

.page1-container {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 1213px;
    background-color: #F9F5FF;
}

.page1-grad-bg {
    display: flex;
    position: absolute;
    width: 100%;
    height: 800px;
    background: -webkit-linear-gradient(145deg, #cb10a6,#1a104e);                          
    background: linear-gradient(145deg, #cb10a6,#1a104e);
}

.all-in-txt {
    display: inline-block;
    position: relative;
    top: 30px;
    left: 36%;
    font-family: 'AvertaDemoRegular';
    font-size: 28px;
    color: #fff;
}

.track-txt {
    display: inline-block;
    position: relative;
    top: 100px;
    left: 45px;
    font-family: 'AvertaDemoRegular';
    font-size: 46px;
    color: #fff;
}

.your-txt {
    display: inline-block;
    position: relative;
    font-family: 'AvertaDemoRegular';
    font-size: 22px;
    text-align: center;
    color: #fff;
    top: 60px;
    left: 550px;
}


.view-demo-btn-white {
    display: inline-block;
    position: relative;
    font-family: 'AvertaDemoRegular';
    font-size: 28px;
    color: #fff;
    width: 200px;
    height: 60px;
    border-radius: 40px;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    overflow: visible;
    background: none;
    border: 3px #fff solid;
    top: 140px;
    margin: 10px;
}

.get-started-btn2 {
    display: inline-block;
    position: relative;
    font-family: 'AvertaDemoRegular';
    font-size: 28px;
    color: #fff;
    width: 220px;
    height: 60px;
    border-radius: 40px;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    overflow: visible;
    background: #CB10A6;
    border: none;
    top: 140px;
    margin: 10px;
}

.dashboard-img {
    z-index: 2;
    display: inline-block;
    position: relative;
    left: 265px;
    top: 130px;
}

.white-bg {
    z-index: 1;
    display: inline-block;
    position: relative;
    background-color: #fff;
    bottom: 420px;
    width: 1400px;
    height: 850px;
    left: 130px;
}

.certificates-img {
    z-index: 2;
    display: inline-block;
    position: relative;
    bottom: 580px;
    right: 690px;
}

.integrated-txt {
    z-index: 2;
    display: inline-block;
    position: relative;
    font-family: 'AvertaDemoRegular';
    font-size: 24px;
    color: #000;
    bottom: 600px;
    left: 660px;
}

.logos-img {
    z-index: 2;
    display: inline-block;
    position: relative;
    bottom: 500px;
    right: 60px;
}

.page2-container {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 800px;
    bottom: 600px;
    background-color: #F9F5FF;
}

.camping-txt {
    display: inline-block;
    position: relative;
    font-family: 'AvertaDemoRegular';
    font-size: 18px;
    color: #CB10A6;
    top: 140px;
    left: 325px;
}

.cookie-txt {
    display: inline-block;
    position: relative;
    font-family: 'AvertaDemoRegular';
    font-size: 28px;
    left: 93px;
    top: 220px;
}

.forget-txt {
    display: inline-block;
    position: relative;
    font-family: 'AvertaDemoRegular';
    font-size: 14px;
    top: 330px;
    right: 195px;
    color: #6B6B6B;
}

.variation-txt {
    display: inline-block;
    position: relative;
    font-family: 'AvertaDemoRegular';
    font-size: 14px;
    right: 490px;
    top: 400px;
    color: #6B6B6B;
}

.appstore-logo-img {
    display: inline-block;
    position: relative;
    right: 785px;
    top: 470px;
}

.googleplay-logo-img {
    display: inline-block;
    position: relative;
    right: 770px;
    top: 470px;
}

.purple-bg{
    display: inline-block;
    position: relative;
    background-color: #9A54EA;
    border-radius: 20px; 
    width: 500px;
    height: 600px;
    top: 30px;
    left: 850px;
}

.scheme-img {
    display: flex;
    position: relative;
    bottom: 550px;
    left: 900px;
}

.page3-continer {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 700px;
    bottom: 600px;
}

.improve-txt {
    display: inline-block;
    position: relative;
    font-family: 'AvertaDemoRegular';
    font-size: 32px;
    left: 32%;
    text-align: center;
}

.track-btn {
    z-index: 2;
    display: inline-block;
    position: relative;
    font-family: 'AvertaDemoRegular';
    font-size: 18px;
    width: 200px;
    right: 100px;
    height: 50px;
    top: 60px;
    color: #fff;
    border: none;
    border-top-left-radius: 10px;
    background-color: #9A54EA;
}

.optimize-btn {
    z-index: 2;
    display: inline-block;
    position: relative;
    font-family: 'AvertaDemoRegular';
    font-size: 18px;
    right: 100px;
    top: 60px;
    width: 200px;
    height: 50px;
    color: #1A104E;
    border: none;
    background-color: #ebddfb;
}

.automate-btn {
    z-index: 2;
    display: inline-block;
    position: relative;
    font-family: 'AvertaDemoRegular';
    font-size: 18px;
    top: 60px;
    right: 100px;
    width: 200px;
    height: 50px;
    color: #1A104E;
    border: none;
    background-color: #ebddfb;
}

.page3-bg   {
    z-index: 1;
    display: flex;
    position: relative;
    width: 85%;
    top: 48px;
    left: 110px;
    height: 500px;
    background-color: #F9F5FF;
}

.affiliate-txt {
    z-index: 2;
    display: inline-block;
    position: relative;
    font-family: 'AvertaDemoRegular';
    font-size: 18px;
    left: 280px;
    bottom: 450px;
    color: #cb10a6;
}

.place-txt {
    z-index: 2;
    display: inline-block;
    position: relative;
    font-family: 'AvertaDemoRegular';
    font-size: 28px;
    bottom: 375px;
    right: 15px;
}

.what-txt {
    z-index: 2;
    display: inline-block;
    position: relative;
    font-family: 'AvertaDemoRegular';
    font-size: 14px;
    bottom: 280px;
    right: 315px;
    color: #6B6B6B;
}

.thanks-txt {
    z-index: 2;
    display: inline-block;
    position: relative;
    font-family: 'AvertaDemoRegular';
    font-size: 14px;
    bottom: 185px;
    right: 615px;
    color: #6B6B6B;
}

.view-case-btn {
    z-index: 2;
    display: inline-block;
    position: relative;
    font-family: 'AvertaDemoRegular';
    font-size: 24px;
    bottom: 100px;
    right: 900px;
    width: 270px;
    height: 60px;
    border-radius: 40px;
    border: none;
    color: #fff;
    background-color: #cb10a6;
    cursor: pointer;
}

.track-img {
    z-index: 2;
    display: inline-block;
    position: relative;
    bottom: 600px;
    left: 820px;
}

.page4-container {
    display: inline-block;
    position: relative;
    bottom: 1240px;
    width: 100%;
    height: 600px;
}

.features-txt {
    display: inline-block;
    position: relative;
    font-family: 'AvertaDemoRegular';
    font-size: 32px;
    bottom: 120px;
    left: 105px;
}

.see-btn {
    display: inline-block;
    position: relative;
    font-family: 'AvertaDemoRegular';
    font-size: 28px;
    color: #fff;
    width: 320px;
    height: 60px;
    border-radius: 40px;
    outline: 0;
    cursor: pointer;
    text-decoration: none;
    overflow: visible;
    background: #CB10A6;
    border: none;
    margin: 10px;
    bottom: 160px;
    left: 50%;
}

.card-automizer {
    display: inline-block;
    position: relative;
    top: 180px;
    right: 550px;
    width: 250px;
    height: 260px;
    padding: 10px;
    background-color: #F9F5FF;
    border-radius: 20px;
    -webkit-box-shadow: 3px 0px 19px 8px rgba(34, 60, 80, 0.11);
    -moz-box-shadow: 3px 0px 19px 8px rgba(34, 60, 80, 0.11);
    box-shadow: 3px 0px 19px 8px rgba(34, 60, 80, 0.11);
}

.card-traffic {
    display: inline-block;
    position: relative;
    width: 250px;
    height: 260px;
    padding: 10px;
    background-color: #F9F5FF;
    border-radius: 20px;
    top: 225px;
    right: 460px;
    -webkit-box-shadow: 3px 0px 19px 8px rgba(34, 60, 80, 0.11);
    -moz-box-shadow: 3px 0px 19px 8px rgba(34, 60, 80, 0.11);
    box-shadow: 3px 0px 19px 8px rgba(34, 60, 80, 0.11);
}

.card-anti-fraud {
    display: inline-block;
    position: relative;
    width: 250px;
    height: 260px;
    padding: 10px;
    background-color: #F9F5FF;
    border-radius: 20px;
    top: 178px;
    right: 380px;
    -webkit-box-shadow: 3px 0px 19px 8px rgba(34, 60, 80, 0.11);
    -moz-box-shadow: 3px 0px 19px 8px rgba(34, 60, 80, 0.11);
    box-shadow: 3px 0px 19px 8px rgba(34, 60, 80, 0.11);    
}

.card-alerts {
    display: inline-block;
    position: relative;
    width: 250px;
    height: 260px;
    padding: 10px;
    background-color: #F9F5FF;
    border-radius: 20px;
    bottom: 103px;
    left: 1220px;
    -webkit-box-shadow: 3px 0px 19px 8px rgba(34, 60, 80, 0.11);
    -moz-box-shadow: 3px 0px 19px 8px rgba(34, 60, 80, 0.11);
    box-shadow: 3px 0px 19px 8px rgba(34, 60, 80, 0.11);
}

.card-main-txt-traffic {
    display: inline-block;
    position: relative;
    font-family: 'AvertaDemoRegular';
    font-size: 24px;
}

.card-description-traffic {
    display: inline-block;
    position: relative;
    font-family: 'AvertaDemoRegular';
    font-size: 14px;
    bottom: 10px;
    left: 5px;
    color: #6B6B6B;
}

.card-btn-traffic {
    display: inline-block;
    position: relative;
    cursor: pointer;
    border: none;
    background:none;
    font-family: 'AvertaDemoRegular';
    font-size: 16px;
    color: #cb10a6;
    bottom: 10px;
}

.card-main-txt {
    display: inline-block;
    position: relative;
    font-family: 'AvertaDemoRegular';
    top: 30px;
    right: 80px;
    font-size: 24px;
}

.card-description {
    display: inline-block;
    position: relative;
    font-family: 'AvertaDemoRegular';
    font-size: 14px;
    top: 20px;
    left: 5px;
    color: #6B6B6B;
}

.card-btn {
    display: inline-block;
    position: relative;
    cursor: pointer;
    border: none;
    background:none;
    font-family: 'AvertaDemoRegular';
    font-size: 16px;
    color: #cb10a6;
    top: 30px;
}

.page5-container {
    display: inline-block;
    position: relative;
    bottom: 1240px;
    width: 100%;
    height: 700px;
}

.hero-bg1 {
    display: flex;
    position: absolute;
    height: 700px;
}

.hero-bg-blue {
    z-index: 2;
    display: flex;
    position: absolute;
    height: 700px;
    left: 845px;
}

.hero-bg2 {
    z-index: 1;
    display: flex;
    position: absolute;
    width: 400px;
    height: 700px;
    left: 1290px;
}

.page6-container {
    display: inline-block;
    position: relative;
    bottom: 1150px;
    left: 230px;
    width: 70%;
    height: 500px;
    -webkit-box-shadow: 3px 0px 19px 8px rgba(34, 60, 80, 0.11);
    -moz-box-shadow: 3px 0px 19px 8px rgba(34, 60, 80, 0.11);
    box-shadow: 3px 0px 19px 8px rgba(34, 60, 80, 0.11);
}

.page6-container-background {
    z-index: 0;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(315deg, #5C339E -13.06%, #FFFFFF 128.17%);                        
    background: linear-gradient(315deg, #5C339E -13.06%, #FFFFFF 128.17%);
    opacity: 0.4;
}
.video-player {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 70px;
    left: 60px;
    border-radius: 10px;
}

.affiliate-txt2 {
    display: inline-block;
    position: relative;
    z-index: 1;
    font-family: 'AvertaDemoRegular';
    font-size: 14px;
    color: #cb10a6;
    bottom: 260px;
    left: 130px;
}

.tracking-txt {
    display: inline-block;
    position: relative;
    z-index: 1;
    font-family: 'AvertaDemoRegular';
    font-size: 32px;
    bottom: 130px;
    right: 100px;
}

.watch-txt {
    display: inline-block;
    position: relative;
    z-index: 1;
    font-family: 'AvertaDemoRegular';
    font-size: 16px;
    left: 665px;
    bottom: 140px;
    color: #6B6B6B;
}

.know-btn {
    display: inline-block;
    position: relative;
    z-index: 1;
    cursor: pointer;
    border: none;
    width: 250px;
    height: 50px;
    border-radius: 50px;
    background: #cb10a6;
    font-family: 'AvertaDemoRegular';
    font-size: 22px;
    color: #fff;
    bottom: 80px;
    left: 350px;
}

.page7-container {
    display: inline-block;
    position: relative;
    bottom: 1130px;
    width: 100%;
    height: 600px;
    background-color: #F9F5FF;
}

.affiliate-txt3 {
    display: inline-block;
    position: relative;
    font-family: 'AvertaDemoRegular';
    font-size: 16px;
    color: #cb10a6;
    bottom: 260px;
    left: 351px;
}

.made-easy-txt {
    display: inline-block;
    position: relative;
    font-family: 'AvertaDemoRegular';
    font-size: 28px;
    bottom: 180px;
    left: 90px;
}

.hands-txt {
    display: inline-block;
    position: relative;
    font-family: 'AvertaDemoRegular';
    font-size: 14px;
    color: #6B6B6B;
    bottom: 90px;
    right: 125px;
}

.list-txt {
    display: inline-block;
    position: relative;
    font-family: 'AvertaDemoRegular';
    font-size: 14px;
    color: #6B6B6B;
    top: 20px;
    right: 455px;
}

.rectangle-img {
    z-index: 2;
    display: inline-block;
    position: relative;
    width: 400px;
    height: 400px; 
    right: 90px;
    top: 55px;
}

.rectangle-bg {
    z-index: 1;
    display: inline-block;
    position: relative;
    width: 400px;
    height: 400px; 
    background: #9A54EA;
    bottom: 340px;
    left: 900px;
}

.partner-page {
    display: inline-block;
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 400px;
    bottom: 1360px;
}

.part-txt {
    display: inline-block;
    position: relative;
    font-family: 'AvertaDemoRegular';
    font-size: 32px;
    left: 600px;
}

.partners-txt {
    display: inline-block;
    position: relative;
    font-family: 'AvertaDemoRegular';
    font-size: 14px;
    color: #6B6B6B;
    top: 50px;
    left: 250px;
}

.partners-img1 {
    display: inline-block;
    position: relative;
    top: 130px;
    right: 270px;
}

.find-us-txt {
    display: inline-block;
    position: relative;
    font-family: 'AvertaDemoRegular';
    font-size: 14px;
    color: #6B6B6B;
    top: 180px;
    right: 730px;
}

.partners-img2 {
    display: inline-block;
    position: relative;
    top: 170px;
    left: 360px;
}

.footer {
    display: inline-block;
    position: relative;
    bottom: 1360px;
    width: 100%;
    height: 900px;
}

.footer-img {  
    z-index: 1;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}

.footer-start-btn {
    z-index: 2;
    display: flex;
    position: relative;   
    font-family: 'AvertaDemoRegular';
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    border: none;
    border-radius: 50px;
    background-color: #cb10a6;
    width: 260px;
    height: 60px;
    top: 175px;
    left: 120px;
}